@model IEnumerable<AdressWeb.Models.Postleitzahlen>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ort)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlzId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlzId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlzId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
